[user]
	name = Lv Sihan
	email = 2429894846@qq.com
[init]
	defaultBranch = main
[diff]
	tool = nvimdiff
	algorithm = patience
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	keepBackup = false
[alias]
	ll = log --oneline --decorate
	tree = log --graph --oneline --decorate --all
	root = rev-parse --show-toplevel
[grep]
	extendedRegexp = true
[credential]
	helper = store
