[user]
	name = Lv Sihan
	email = lvsh@mail.ustc.edu.cn
[init]
	defaultBranch = main
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	keepBackup = false
[alias]
	ll = log --oneline --decorate
	tree = log --graph --oneline --decorate --all
[grep]
	extendedRegexp = true
[credential]
	helper = store
