[user]
	name = Lv Sihan
	email = 2429894846@qq.com
[init]
	defaultBranch = main
[diff]
	algorithm = patience
[merge]
	conflictstyle = diff3
[pull]
	rebase = true
[stash]
	showPatch = true
[alias]
	ll = log --oneline --decorate
	tree = log --graph --oneline --decorate --all
	root = rev-parse --show-toplevel
[grep]
	extendedRegexp = true
[credential]
	helper = store
